<div class="container">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="'side'">
      <mat-nav-list>
        <div class="category">
          <mat-checkbox [color]="'primary'" [checked]="isAllCategoriesSelected" (change)="selectAll($event.checked)">
            <b>Select all</b>
          </mat-checkbox>
        </div>
        <div *ngFor="let category of categories" class="category">
          <mat-checkbox [color]="'primary'" (change)="updateSelectedCategories(category)">
            <b>{{category.value | titlecase}}</b>
          </mat-checkbox>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <div *ngFor="let joke of recentJokes" class="list-item full-width" cdkDrag>
      <app-joke [joke]="joke"></app-joke>
    </div>
  </mat-sidenav-container>
</div>
