<div>
  <header>
    <mat-toolbar color="primary">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav" routerLink="/" [routerLinkActive]="['active-route']" [routerLinkActiveOptions]="{exact: true}">
            Facts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav" routerLink="/favourites" [routerLinkActive]="['active-route']" [routerLinkActiveOptions]="{exact: true}">
            Favorites
            <span *ngIf="favourites.length > 0" matBadge="{{favourites.length}}" matBadgeColor="accent" matBadgeOverlap="false"></span>
          </a>
        </li>
      </ul>
    </mat-toolbar>
  </header>
  <router-outlet></router-outlet>
</div>
